<%- if controller_name != 'sessions' %>
  <div class="form-group">
    <%= link_to "Log in", new_session_path(resource_name),class:"btn btn-primary btn-lg btn-block login-button" %><br />
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %><br />
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %><br />
    <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %><br />
<% end -%>
